@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 45 6% 24%;
  --card: 220 70% 60%;
  --card-foreground: 0 0% 100%;
  --popover: 330 100% 90%;
  --popover-foreground: 0 0% 0%;
  --primary: 233 98% 65%;
  --primary-foreground: 0 0% 100%;
  --secondary: 330 100% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 210 100% 95%;
  --muted-foreground: 0 0% 0%;
  --accent: 220 70% 60%;
  --accent-foreground: 0 0% 100%;
  --destructive: 330 100% 90%;
  --destructive-foreground: 0 0% 0%;
  --border: 210 100% 95%;
  --input: 210 100% 95%;
  --ring: 220 70% 60%;
  --radius: 0.5rem;
}
