@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%; /* white */
  --foreground: 45 6% 24%; /* #3D3C36 in HSL */
  --card: 220 70% 60%; /* #497DE7 */
  --card-foreground: 0 0% 100%; /* white */
  --popover: 330 100% 90%; /* #FCC4E1 */
  --popover-foreground: 0 0% 0%; /* black */
  --primary: 233 98% 65%;
  --primary-foreground: 0 0% 100%; /* white */
  --secondary: 330 100% 90%; /* #FCC4E1 */
  --secondary-foreground: 0 0% 0%; /* black */
  --muted: 210 100% 95%; /* #D1E9FC */
  --muted-foreground: 0 0% 0%; /* black */
  --accent: 220 70% 60%; /* #497DE7 */
  --accent-foreground: 0 0% 100%; /* white */
  --destructive: 330 100% 90%; /* #FCC4E1 */
  --destructive-foreground: 0 0% 0%; /* black */
  --border: 210 100% 95%; /* #D1E9FC */
  --input: 210 100% 95%; /* #D1E9FC */
  --ring: 220 70% 60%; /* #497DE7 */
  --radius: 0.5rem;
}
